# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 17.

DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

EXPO_PUBLIC_OAUTH_42_CLIENTID=
OAUTH_42_SECRET=

EXPO_PUBLIC_BASE_URL=